.intro {
    background-color: $cream;
    overflow: hidden;
    height: 100vh;

    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        flex-wrap: wrap;
    }

    &__inner-item {
        width: 50%;
        position: relative;
        @include breakpoint(lg) {
            width: 100%;
            &:first-child {
                text-align: center;
            }
        }
        &-suptitle{
            font-size: 30px;
            font-weight: 400;
            margin-bottom: 35px;
        }
        &-title{
            text-transform: uppercase;
            font-size: 55px;
            margin-bottom: 62px;
        }
        &-discount {
            position: absolute;
            right: 0;
            top: 0;

            h2 {
                text-decoration: line-through;
                font-size: 24px;
                margin-bottom: 14px;
                text-align: right;
            }

            h1 {
                color: #D84033;
                font-size: 41px;
            }
        }
    }
}