.models {
    margin-top: 100px;
    &__inner {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    &__item {
        width: 23%;
        padding: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 3px solid $accent;
        transition: transform 0.2s;
        &:hover {
            transform: translateY(-10px);
        }
    }

    &__img {
        display: block;
    }

    &__title {
        font-weight: 700;
        font-size: 14px;
        max-width: 112px;
        margin: 25px 0 15px;
        a {
            color: $dark;
        }
    }

    &__price {
        color: $accent;
        font-weight: 700;
        font-size: 18px;
    }

    &__button {
        margin-top: 100px;
    }
}
